body {
  font-family: "Momo Signature", cursive;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ===== HEADER ===== */
header {
  background-color: #6a0dad;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}

#course-title {
  font-size: 1.5rem;
font-weight: bold;
}

/* ===== HAMBURGER ===== */
#hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* ===== NAVIGATION ===== */
.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.2rem;
}

nav.open ul{
  display: flex;
}

nav a {
  background-color: #6a0dad;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover{
  background-color: #9b59b6;
}

/* ===== MAIN ===== */
main h1 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
}

/* ===== GALLERY ===== */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.gallery figcaption {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 600;
  color: #333;
}

@media (max-width: 700px){
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px){
  .gallery{
    grid-template-columns: 1fr;
  }
}

/* ===== FOOTER ===== */
footer {
  margin-top: 2rem;
  background-color: #eee;
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

