/* ---------- GENERAL ---------- */
body {
  font-family: Arial, sans-serif;
  background: #ffffff;       
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, header, footer {
  width: 100%;
  max-width: 450px; 
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2.2rem;
  cursor: pointer;
  color: #bbb;
  transition: 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}


/* ---------- HEADER ---------- */
header h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #4b0082; 
}

/* ---------- FORMULARIO ---------- */
.review-form {
  background: #ebcdf3;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 15px;

}


/* Labels */
.review-form label,
.review-form legend {
  font-weight: bold;
}

/* Inputs */
.review-form input,
.review-form select,
.review-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dfbee7;
  font-size: 1rem;
}

.inline {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* ---------- BOTÓN ---------- */
button {
  padding: 12px;
  background: #7b2cbf;  /* morado fuerte */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #5a189a; /* más oscuro */
}

/* ---------- FIELDSET ---------- */
fieldset {
  border: none;
}

@media (max-width: 400px) {
  .review-form {
    padding: 15px;
    font-size: 0.9rem;
  }

  .star-rating label {
    font-size: 2rem;
  }
}

@media (min-width: 401px) and (max-width: 768px) {
  .review-form {
    max-width: 350px;
    padding: 18px;
  }
}


/* ---------- FOOTER ---------- */
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
  background: #7b2cbf; 
  color: white;
  padding: 1px;
  border-radius: 5px;
}


