:root {
  --primary: #6a0dad;
  --dark: #222;
  --light-gray: #f7f3fb;
  --panel-bg: #ffffff;
  --max-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 2rem 0;
}

/* ===============================
   Panel principal
=================================*/
.panel {
  max-width: var(--max-width);
  width: 100%;
  background-color: var(--panel-bg);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}

/* ===============================
   Barras moradas solo arriba y abajo
=================================*/
.panel::before,
.panel::after {
  content: "";
  width: 80%;
  height: 6px;
  transform: translateX(-50%);
  left: 15%;
  background-color: var(--primary);
  border-radius: 3px;
  position: absolute;
  margin: 10px auto;
}

.panel::before {
  top: 10px;
}

.panel::after {
  bottom: 6px;
}

/* ===============================
   Header
=================================*/
header {
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
}

header::after {
  content: "";
  display: block;
  width: 40%;
  height: 3px;
  background-color: var(--primary);
  padding: 1rem;
  text-align: center;
}

nav ul { 
  list-style: none; 
  display: flex; 
  justify-content: center; 
  gap: 1rem; 
  margin-top: 0.5rem; 
}

nav a { 
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

main { 
  padding: 1.5rem; 
} 

#hero picture, #hero img { 
  width: 100%; 
  display: block; 
}

section { 
  margin-bottom: 2rem; 
} 

#Data, #weather { 
  text-align: center; 
} 

h2 { 
  color: var(--primary); 
  font-size: 1.4rem; 
  margin-bottom: 1rem; 
}

.weather-icon::before {  
  margin-left: 0.4rem; 
  font-size: 1.4rem; 
  color: var(--primary); 
}

@media (min-width: 600px) {
  body{
    background-color: var(--light-gray);
  }
  .panel {
    max-width: 400px; 
  }

  nav ul {
    gap: 2rem; 
  }
  h2{
    font-size: 1.6rem;
  }
}

footer { 
  background-color: var(--primary); 
  color: white; 
  text-align: center; 
  padding: 1rem; 
}

