@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  }

  
@media (min-width: 900px) {
  #hamburger {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background: none;
    width: auto;
    position: static;
  }

  nav li {
    margin: 0;
  }

  nav a {
    margin: 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

